.font-titulo {
	font-family: 'Lato', sans-serif; 
	font-weight: 300; 
	font-size: 70px;
}

  .text-title 
{
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	text-align: center;
	color: white;
}
  .text 
{
  	font-family: 'Lato', sans-serif; 
  	font-weight: 300;
  	color: white;
}


#titulo
{
	min-height: 115px;
	top: 0px;
	height: 115px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: fixed;
	z-index: 100;
	background-color: rgb(255,254,253);
	
}
body{
	margin:0;
	padding:0;
}
ul{
	margin-top: -50px;
}
.nav ul{

	list-style-type: none;
	list-style-image: none;
}
.nav li{
	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
	font-size: 20px;
	display: inline;
	padding: 5px 20px 5px 50px;
}
.nav a{
	text-decoration: none;
	color: black;
}
.nav a:hover{
	color:#85C5E6;
}



.sections
{

	min-height: 800px;
	height: 800px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}
.sections article
{
	margin: -10px;
	position: absolute;	
	top: 20px;
	padding: 200px 200px; 
}
#home
{
	background: url(../Imagenes/arcade.png) 50% 0 no-repeat fixed;
}
#about
{
	background: url(../Imagenes/nes2.png) 50% 0 no-repeat fixed;
}
#crew
{
	background: url(../Imagenes/space.png) 50% 0 no-repeat fixed;
}

