
@charset "utf-8";
/* CSS Document */



body{
	margin: 0;
	min-width: auto;
	padding: 0;
	font-family: 'Lato', sans-serif; 
  	font-weight: 300;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	
  	color: white;
}

img{
	border: 0;
}

h1, #pixels{
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	text-align: center;
	color: white;
}

h2{
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	text-align: center;
	color: white;
}

/*Formato George  de aqui para abajo */
div#titulo{
	height: 90px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	font-size: 4em; 
	text-align: center;
	background-color: rgba(255,255,255,0.9);
	background-size: 100%;
	z-index: 100;


}
	div#titulo > ul{
		margin-top: 5px;
		width: 990px;
		list-style-type: none;
		list-style-image: none;
		padding-left: 0px;
		display: inline-block;

	}
		div#titulo > ul li{		
			display: inline;
			padding: 0px 25px;
			color: black;
		}
			div#titulo > ul li a{
				font-weight: 300; 
				font-size: 35px;
				text-decoration: none;
				color: black;
			}
			div#titulo > ul li a:hover{
				color:#85C5E6;
			}

ul#nav{
	top:50%;
	right: 2%;
	line-height: 1.5em;
	list-style: none;
	position: fixed;	
	z-index: 200;
}

div#home{
	background:url(images/nes2.png) 50% 0 no-repeat fixed;
	color: white;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	background-size: cover;
	position: relative;
}
/**/
/**/
/**/
/**/
/**/
/**/
#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}



#about{
	background: url(images/arcade.png) 50% 0 no-repeat fixed;
	color: white;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-size: cover;
}
.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}
	.story .float-left, .story .float-right{
		padding: 30vh 0 0 0;
		position: relative;
		width: 350px;
	}

#crew{
	background: url(images/tetris.png) 50% 0 no-repeat fixed;
	color: white;
	height: 100vh;
	padding-top: 100px;
	margin: 0 auto;
	overflow: hidden;
	background-size: cover;
}

.imagehover{
    width: 640px;
    margin-left: -10px;
    margin-top: -10px;
}

.crewFoto{
	border-radius: 15px;
	width:200px;
	height: auto;
    box-shadow: 0px 0px 10px #888;
    margin-left: 60px;
}

#imagen1{
	position: absolute;
	width:100%;

}

#jorgeP{
	position: absolute;
	top:2650px;
	left:0;
	width: auto;
	left:95px;
	font-family: 'Lato', sans-serif; 
  	font-weight: 300;
  	color: white;
}

#ficachiP{
	position: absolute;
	top:2650px;
	left:0;
	width: auto;
	left:360px;
	font-family: 'Lato', sans-serif; 
  	font-weight: 300;
  	color: white;
}

#ivanP{
	position: absolute;
	top:2650px;
	left:0;
	width: auto;
	left:620px;
	font-family: 'Lato', sans-serif; 
  	font-weight: 300;
  	color: white;
}



