.font-titulo {
	font-family: 'Lato', sans-serif; 
	font-weight: 300; 
	font-size: 70px;
}
#titulo{
	min-height: 110px;
	top: 0px;
	height: 110px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: fixed;
	z-index: 100;
	background-color: rgb(255,254,253);
	
}
body{
	margin:0;
	padding:0;
}
#home{
	background: url(../Imagenes/mountain.jpg) 50% 0 no-repeat fixed;
	min-height: 800px;
	height: 800px;
	width: 100%;
	max-width: 1920px;
	position: relative;
	top:50px;
}

#home article{
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;

}
.text{
	font-family: 'Lato', sans-serif; 
	font-weight: 300; 
	font-size: 20px;
}

.h2text{
	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
	font-size: 40px;
}
ul{
	margin-top: -50px;
}
.nav ul{

	list-style-type: none;
	list-style-image: none;
}
.nav li{
	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
	font-size: 20px;
	display: inline;
	padding: 5px 20px 5px 50px;
}
.nav a{
	text-decoration: none;
	color:blue;
}
.nav a:hover{
	color:purple;
}


#about{
	background: url(../Imagenes/Desert.jpg) 50% 0 no-repeat fixed;
	min-height: 800px;
	height: 800px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#about article{
	height: 458px;
	position: absolute;
	text-align: center;
	top:20px;
	width: 100%;
}

#crew{
	background: url(../Imagenes/fondo.jpg) 50% 0 no-repeat fixed;
	min-height: 800px;
	height: 800px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#crew article{
	height: 458px;
	position: absolute;
	text-align: center;
	top:20px;
	width: 100%;
}
